# Truepic 在 Tinder 和 Airbnb 等应用程序上打击照片欺诈

> 原文：<https://web.archive.org/web/https://techcrunch.com/2017/05/11/truepic-photo-verification/>

“它们真的是这个样子吗？”“他们把我们租的房子的照片用 Photoshop 处理了吗？”“这真的是我在买的东西，还是一张从网上撕下来的照片？”这些都是 true pic(T2)希望用这家初创公司的照片验证技术来回答的问题。今天，Truepic 发布了它的 SDK，将它的技术嵌入到其他产品和它自己的消费应用程序中。Truepic 还宣布投入 175 万美元种子资金，希望成为“世界上第一个数码照片公证人”。

(T5)是这样的。您可以在 Truepic 消费者的 [iOS](https://web.archive.org/web/20221209210126/https://itunes.apple.com/us/app/truepic/id1100089673?mt=8) 或 [Android](https://web.archive.org/web/20221209210126/https://play.google.com/store/apps/details?id=com.lyonssoft.truepic&hl=en) 应用程序中，或者在嵌入了其 SDK 的客户端应用程序中拍摄照片(或视频)。Truepic 的专利技术验证了图像没有被篡改或编辑，并为其加上时间戳、地理编码和其他元数据。Truepic 将照片的一个版本存储在其数字存储库中，并为其分配一个六位代码和 URL 以进行检索。如有必要，可以使用区块链技术创建数据的分布式副本。

然后，用户可以导出他们的图像的经过验证和加水印的版本，在任何他们想使用的地方使用，观众可以访问印好的网址，用 Truepic 的数据库对其进行复查。Truepics 可以在 Tinder 这样的约会网站上用来证明你的真实长相，在 Airbnb 这样的房屋租赁网站上向人们展示他们住的地方到底是什么样子，在易贝这样的电子商务网站上证明你正在出售的东西的状况，或者提交一张经过核实的受损图片以进行保险索赔。

客户可以按月付费，将 Truepic 的轻量级企业软件开发工具包嵌入到他们的应用程序中，这样整个捕获、验证和共享过程都在他们的产品中进行。Truepic 目前有十几个 SDK 的测试客户，从财富 500 强保险公司到顶级美容品牌。虽然 Airbnb 和 Tinder 还不是正式客户，但人们已经在这些网站上上传 Truepics，他们可以从成为 SDK 客户中受益。

“Truepic 联合创始人兼首席运营官·克雷格·斯塔克说:“我们已经过了在网上造假的临界点，为了追求完美，我们已经失去了真实性和真实性。”。Photoshop、Instagram、Snapchat、FaceTune 和美图已经使照片编辑成为一种常见的做法。Stack 解释说:“企业需要一个解决方案来打击猖獗的网上伪造图像行为，消费者希望分享真实的照片，让其他人相信这是真的。”。“这是事实——我们是真正的反过滤器。”

![](img/8c0a64ce95b7607f493b7ef045817fdb.png)

Stack 是保险公司和度假租赁初创公司 Flipkey 的投资者，该公司已被猫途鹰收购。这使他接触到伪造图像的问题，导致他发现了 Truepic。他让杰夫·麦格雷戈(Jeff McGregor)担任首席执行官，后者创建了支付应用 Dash，并将其出售给 Reserve。

他们从 FirstCall 和 Thomson Financial 的 Jeffrey Parker、Platinum Technology 和人力资源初创公司 SilkRoad 的 Andrew Flilpowski 以及哈佛商学院教授和风投 William Sahlman 那里筹集了 175 万美元的种子资金。随着 Truepic 销量的增加，这笔钱将用于招聘和公开发布 enterprise SDK。

Truepic 将不得不抵挡其他创业公司，尽管 McGregor 认为那些尝试过的人在照片编辑成为一种流行病之前推出得太早了。有一些像[图像编辑](https://web.archive.org/web/20221209210126/http://imageedited.com/)、[照片识别](https://web.archive.org/web/20221209210126/http://fotoforensics.com/)和 [ImgOps](https://web.archive.org/web/20221209210126/http://imgops.com/) 这样的工具，用于上传照片，以查看它是否被篡改或在网络上传播，但它们都是非常基础的。

虽然大的潜在客户可以建立他们自己的内部系统，有些是[](https://web.archive.org/web/20221209210126/https://beta.techcrunch.com/2016/03/25/badoo-launches-photo-verification-for-safer-more-efficient-online-dating/)，他说“公司喜欢 Truepic 作为外部提供商的‘保护你的屁股’的一面——他们可以指向一个独立的第三方来认证图像，而不必自己备份。”他们更喜欢按月付费，把它留给专家。

![](img/8c4bf28f6eb41ad0c86b0651d68de8a9.png)

如果创业公司能够说服消费者，当他们使用 Truepic 时，他们可以获得更多的日期、租赁和销售，那么它就可以扩大其足迹，因为水印可以作为病毒式增长的驱动力。至于企业客户，他们可以推出 Truepic 来增强所有用户的信心，或者将其作为一项高级功能。

如果你认为我们已经处于照片编辑热潮的顶峰，那就等着增强现实技术加速发展吧。Snapchat 的滤镜已经可以自动平滑人们的皮肤，让他们变得更漂亮。AR 可以让任何人，即使没有 Photoshop 技能，也能创作出精湛的赝品。假装很有趣。但它也可能妨碍严肃的商业活动，导致人们被敲诈或钓鱼。重要的是，这种验证技术可以分辨出[的真实](https://web.archive.org/web/20221209210126/https://truepic.com/)和谎言。